body{
  font-family:'Source Code Pro', monospace;
  color: #444444;
  margin:40px auto;
  max-width:560px;

}
li {
  list-style-type: none;
}
.Dino{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
a{
  color: green; 
}
.email{
  text-align: center;
}
.typewriter {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  animation: typing 4s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid rgb(0, 134, 45);
  box-sizing: border-box;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: green; 
  }
}